<nav>
  {% for item in site.data.navigation %}
  <a href="{%if jekyll.environment == "production" %}/website-test{% endif %}{{ item.link }}" {% if page.url == item.link %}class="current"{% endif %}>{{ item.name }}</a>
  {% endfor %}
</nav>
